apps/n8n-workflows/neibrpay-send-notification.json
{
  "name": "neibrpay-send-notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6136beab-830a-4fb2-a88d-2475eeaaabe2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-336, 368],
      "webhookId": "858a786c-9e2e-44d5-8d86-eb89d2b4f3e2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Email sent successfully\"}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [976, 352]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"error\", \"message\": \"Failed to send email\"}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [976, 624]
    },
    {
      "parameters": {
        "fromEmail": "admin@geninvoices.com",
        "toEmail": "={{ $json.body?.recipient?.email || $json.recipient?.email || $json.body?.to || $json.to }}",
        "subject": "={{ 'Welcome to ' + ($json.body?.tenant_name || $json.tenant_name || 'NeibrPay') + ' - Access Your Account' }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  </head>\n  <body\n    style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;\"\n  >\n    <table\n      role=\"presentation\"\n      cellspacing=\"0\"\n      cellpadding=\"0\"\n      border=\"0\"\n      width=\"100%\"\n      style=\"background-color: #f4f4f4;\"\n    >\n      <tr>\n        <td align=\"center\" style=\"padding: 40px 20px;\">\n          <table\n            role=\"presentation\"\n            cellspacing=\"0\"\n            cellpadding=\"0\"\n            border=\"0\"\n            width=\"600\"\n            style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\"\n          >\n            <!-- Header -->\n            <tr>\n              <td\n                style=\"padding: 40px 40px 20px; text-align: center; background-color: #2563eb; border-radius: 8px 8px 0 0;\"\n              >\n                <h1\n                  style=\"margin: 0; color: #ffffff; font-size: 28px; font-weight: bold;\"\n                >\n                  Welcome to {{ $json.body?.tenant_name || $json.tenant_name || 'NeibrPay' }}\n                </h1>\n              </td>\n            </tr>\n\n            <!-- Content -->\n            <tr>\n              <td style=\"padding: 40px;\">\n                <p\n                  style=\"margin: 0 0 20px; font-size: 16px; line-height: 1.6; color: #333333;\"\n                >\n                  Dear {{ $json.body?.recipient?.name || $json.recipient?.name || $json.body?.resident_name || $json.resident_name || 'Valued Resident' }},\n                </p>\n\n                <p\n                  style=\"margin: 0 0 20px; font-size: 16px; line-height: 1.6; color: #333333;\"\n                >\n                  Welcome to <strong>{{ $json.body?.tenant_name || $json.tenant_name || 'NeibrPay' }}</strong>!\n                  We're excited to have you join our community management platform.\n                </p>\n\n                <p\n                  style=\"margin: 0 0 30px; font-size: 16px; line-height: 1.6; color: #333333;\"\n                >\n                  Click the button below to access your account. This magic link will automatically log you in - no password required!\n                </p>\n\n                <!-- CTA Button -->\n                <table\n                  role=\"presentation\"\n                  cellspacing=\"0\"\n                  cellpadding=\"0\"\n                  border=\"0\"\n                  width=\"100%\"\n                >\n                  <tr>\n                    <td align=\"center\" style=\"padding: 20px 0 30px;\">\n                      <a\n                        href=\"{{ $json.body?.magic_link || $json.magic_link || $json.body?.login_link || $json.login_link }}\"\n                        style=\"display: inline-block; padding: 16px 32px; background-color: #2563eb; color: #ffffff; text-decoration: none; border-radius: 6px; font-size: 16px; font-weight: 600; box-shadow: 0 2px 4px rgba(37, 99, 235, 0.3);\"\n                      >\n                        Access Your Account\n                      </a>\n                    </td>\n                  </tr>\n                </table>\n\n                <!-- Additional Info -->\n                <div\n                  style=\"background-color: #f3f4f6; padding: 20px; border-radius: 6px; margin: 30px 0;\"\n                >\n                  <p\n                    style=\"margin: 0 0 10px; font-size: 14px; color: #6b7280; font-weight: 600;\"\n                  >\n                    What you can do:\n                  </p>\n                  <ul\n                    style=\"margin: 10px 0 0; padding-left: 20px; font-size: 14px; color: #6b7280; line-height: 1.8;\"\n                  >\n                    <li>View and pay your invoices online</li>\n                    <li>Access community documents and announcements</li>\n                    <li>Update your contact information</li>\n                    <li>Stay informed about community events</li>\n                  </ul>\n                </div>\n\n                <p\n                  style=\"margin: 30px 0 0; font-size: 14px; line-height: 1.6; color: #6b7280;\"\n                >\n                  If the button doesn't work, you can copy and paste this magic link\n                  into your browser:\n                </p>\n                <p\n                  style=\"margin: 10px 0 0; font-size: 12px; line-height: 1.6; color: #2563eb; word-break: break-all;\"\n                >\n                  {{ $json.body?.magic_link || $json.magic_link || $json.body?.login_link || $json.login_link }}\n                </p>\n\n                <p\n                  style=\"margin: 20px 0 0; font-size: 12px; line-height: 1.6; color: #9ca3af;\"\n                >\n                  <strong>Note:</strong> This magic link will expire in 7 days and can only be used once for security.\n                </p>\n\n                <p\n                  style=\"margin: 30px 0 0; font-size: 12px; line-height: 1.6; color: #9ca3af;\"\n                >\n                  This is an automated message from {{ $json.body?.tenant_name || $json.tenant_name || 'NeibrPay' }}. Please do not reply to this email.\n                </p>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td\n                style=\"padding: 30px 40px; text-align: center; background-color: #f9fafb; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;\"\n              >\n                <p style=\"margin: 0 0 10px; font-size: 14px; color: #6b7280;\">\n                  Best regards,<br />\n                  <strong>{{ $json.body?.tenant_name || $json.tenant_name || 'NeibrPay' }} Management Team</strong>\n                </p>\n                <p style=\"margin: 20px 0 0; font-size: 12px; color: #9ca3af;\">\n                  This is an automated message. Please do not reply to this email.\n                </p>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>",
        "options": {}
      },
      "id": "send-invite-email",
      "name": "Send Invite Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [416, 352],
      "webhookId": "8a0356a1-6af4-4fa0-b64e-6997a6c343e8",
      "credentials": {
        "smtp": {
          "id": "RghCNSDKFQ5Oth4i",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "admin@geninvoices.com",
        "toEmail": "={{  $json.body.to }}",
        "subject": "={{ 'Your NeibrPay Verification Code from: ' + ($json.body.tenant_name || 'NeibrPay') }}",
        "html": "={{ '<html><body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\"><div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\"><h2 style=\"color: #2563eb;\">Verification Code</h2><p>' + ($json.body.user_name ? 'Hello ' + $json.body.user_name + ',' : 'Hello,') + '</p><p>Your verification code is:</p><div style=\"background-color: #f3f4f6; padding: 15px; border-radius: 5px; margin: 20px 0; text-align: center;\"><h1 style=\"color: #2563eb; font-size: 32px; margin: 0;\">' + ($json.body.code || $json.code) + '</h1></div><p>This code expires in ' + ($json.body.expires_in_minutes || $json.expires_in_minutes || 15) + ' minutes.</p><p style=\"margin-top: 20px; font-size: 12px; color: #6b7280;\">This is an automated message from ' + ($json.body.tenant_name || 'NeibrPay') + '. Please do not reply to this email.</p><p style=\"margin-top: 20px;\">Best regards,<br>' + ($json.body.tenant_name || 'NeibrPay') + ' Management</p></div></body></html>' }}",
        "options": {}
      },
      "id": "593de89f-3efd-4bc1-b76f-b2e34787e2a6",
      "name": "Send Verification Code Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [432, 608],
      "webhookId": "881a64e8-5021-43c8-bd27-b39d53d52b1b",
      "credentials": {
        "smtp": {
          "id": "RghCNSDKFQ5Oth4i",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "admin@geninvoices.com",
        "toEmail": "={{ $json.body?.recipient?.email || $json.recipient?.email }}",
        "subject": "={{ 'Invoice ' + ($json.body?.invoice_summary?.invoice_number || '') + ' from ' + ($json.body?.tenant_name || 'NeibrPay') }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  </head>\n  <body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;\">\n    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f4f4f4;\">\n      <tr>\n        <td align=\"center\" style=\"padding: 40px 20px;\">\n          <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n            <!-- Header -->\n            <tr>\n              <td style=\"padding: 40px 40px 20px; text-align: center; background-color: #2563eb; border-radius: 8px 8px 0 0;\">\n                <h1 style=\"margin: 0; color: #ffffff; font-size: 28px; font-weight: bold;\">\n                  Invoice {{ $json.body && $json.body.invoice_summary && $json.body.invoice_summary.invoice_number || '' }}\n                </h1>\n              </td>\n            </tr>\n\n            <!-- Content -->\n            <tr>\n              <td style=\"padding: 40px;\">\n                <p style=\"margin: 0 0 20px; font-size: 16px; line-height: 1.6; color: #333333;\">\n                  Dear {{ $json.body && $json.body.recipient && $json.body.recipient.name || 'Valued Resident' }},\n                </p>\n\n                <p style=\"margin: 0 0 20px; font-size: 16px; line-height: 1.6; color: #333333;\">\n                  Please find your invoice details below from <strong>{{ $json.body && $json.body.tenant_name || 'NeibrPay' }}</strong>.\n                </p>\n\n                <!-- Invoice Summary Box -->\n                <div style=\"background-color: #f3f4f6; padding: 20px; border-radius: 6px; margin: 30px 0;\">\n                  <table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"font-size: 14px; color: #333333;\">\n                    <tr>\n                      <td style=\"padding: 5px 0;\"><strong>Invoice Number:</strong></td>\n                      <td style=\"padding: 5px 0; text-align: right;\">{{ $json.body && $json.body.invoice_summary && $json.body.invoice_summary.invoice_number || 'N/A' }}</td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding: 5px 0;\"><strong>Unit:</strong></td>\n                      <td style=\"padding: 5px 0; text-align: right;\">{{ $json.body && $json.body.invoice_summary && $json.body.invoice_summary.unit_title || 'N/A' }}</td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding: 5px 0;\"><strong>Address:</strong></td>\n                      <td style=\"padding: 5px 0; text-align: right;\">{{ $json.body && $json.body.invoice_summary && $json.body.invoice_summary.unit_address || 'N/A' }}</td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding: 5px 0;\"><strong>Total Amount:</strong></td>\n                      <td style=\"padding: 5px 0; text-align: right; font-size: 18px; font-weight: bold; color: #2563eb;\">${{ $json.body && $json.body.invoice_summary && $json.body.invoice_summary.total || '0.00' }}</td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding: 5px 0;\"><strong>Balance Due:</strong></td>\n                      <td style=\"padding: 5px 0; text-align: right; font-size: 16px; font-weight: bold; color: #dc2626;\">${{ $json.body && $json.body.invoice_summary && $json.body.invoice_summary.balance_due || '0.00' }}</td>\n                    </tr>\n                    <tr>\n                      <td style=\"padding: 5px 0;\"><strong>Due Date:</strong></td>\n                      <td style=\"padding: 5px 0; text-align: right;\">{{ $json.body && $json.body.invoice_summary && $json.body.invoice_summary.due_date || 'N/A' }}</td>\n                    </tr>\n                  </table>\n                </div>\n\n                <!-- CTA Button -->\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                  <tr>\n                    <td align=\"center\" style=\"padding: 20px 0 30px;\">\n                      <a href=\"{{ $json.body && $json.body.magic_link || $json.magic_link }}\" style=\"display: inline-block; padding: 16px 32px; background-color: #2563eb; color: #ffffff; text-decoration: none; border-radius: 6px; font-size: 16px; font-weight: 600; box-shadow: 0 2px 4px rgba(37, 99, 235, 0.3);\">\n                        View & Pay Invoice\n                      </a>\n                    </td>\n                  </tr>\n                </table>\n\n                <p style=\"margin: 30px 0 0; font-size: 14px; line-height: 1.6; color: #6b7280;\">\n                  If the button doesn't work, you can copy and paste this link into your browser:\n                </p>\n                <p style=\"margin: 10px 0 0; font-size: 12px; line-height: 1.6; color: #2563eb; word-break: break-all;\">\n                  {{ $json.body && $json.body.magic_link || $json.magic_link }}\n                </p>\n\n                <p style=\"margin: 30px 0 0; font-size: 12px; line-height: 1.6; color: #9ca3af;\">\n                  This is an automated message from {{ $json.body && $json.body.tenant_name || 'NeibrPay' }}. Please do not reply to this email.\n                </p>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td style=\"padding: 30px 40px; text-align: center; background-color: #f9fafb; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;\">\n                <p style=\"margin: 0 0 10px; font-size: 14px; color: #6b7280;\">\n                  Best regards,<br />\n                  <strong>{{ $json.body && $json.body.tenant_name || 'NeibrPay' }} Management Team</strong>\n                </p>\n                <p style=\"margin: 20px 0 0; font-size: 12px; color: #9ca3af;\">\n                  This is an automated message. Please do not reply to this email.\n                </p>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>",
        "options": {}
      },
      "id": "send-invoice-email",
      "name": "Send Invoice Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [432, 144],
      "webhookId": "4bfd76da-a4bb-4312-a969-bd042cd94b5d",
      "credentials": {
        "smtp": {
          "id": "RghCNSDKFQ5Oth4i",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c6dd3d84-049c-4b39-911c-348f856cdd5b",
                    "leftValue": "={{ $json.body && $json.body.type}}",
                    "rightValue": "=invoice",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send_invoice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "check-resident-invite",
                    "leftValue": "={{ $json.body && $json.body.type || $json.type }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "rightValue": "resident_invite"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send_resident_invite"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f24ca5d6-d1d9-4323-bb7e-00a939a22b89",
                    "leftValue": "={{ $json.body && $json.body.type || $json.type }}",
                    "rightValue": "verification_code",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send_verification_code"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "03674491-8711-4735-85fd-1f810a2a68c3",
                    "leftValue": "={{ $json.body && $json.body.type || $json.type }}",
                    "rightValue": "announcement",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send_announcement"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "switch-route-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [-96, 336]
    },
    {
      "parameters": {
        "fromEmail": "admin@geninvoices.com",
        "toEmail": "={ $json.body?.to || $json.to || 'admin@geninvoices.com' }}",
        "subject": "={{ ($json.body?.announcement?.subject || $json.announcement?.subject || 'Community Announcement') + ' - ' + ($json.body?.tenant_name || $json.tenant_name || 'NeibrPay') }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  </head>\n  <body style=\"margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;\">\n    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f4f4f4;\">\n      <tr>\n        <td align=\"center\" style=\"padding: 40px 20px;\">\n          <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n            <!-- Header -->\n            <tr>\n              <td style=\"padding: 40px 40px 20px; text-align: center; background-color: #00C27A; border-radius: 8px 8px 0 0;\">\n                <h1 style=\"margin: 0; color: #ffffff; font-size: 28px; font-weight: bold;\">\n                  {{ $json.body?.announcement?.subject || $json.announcement?.subject || 'Community Announcement' }}\n                </h1>\n              </td>\n            </tr>\n\n            <!-- Content -->\n            <tr>\n              <td style=\"padding: 40px;\">\n                <div style=\"font-size: 16px; line-height: 1.8; color: #333333;\">\n                  {{ $json.body?.announcement?.message || $json.announcement?.message || 'No message content available.' }}\n                </div>\n                <!-- CTA Button -->\n<table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n  <tr>\n    <td align=\"center\" style=\"padding: 20px 0 30px;\">\n      <a href=\"{{ $json.body?.frontend_url || $json.frontend_url }}\" style=\"display: inline-block; padding: 16px 32px; background-color: #00C27A; color: #ffffff; text-decoration: none; border-radius: 6px; font-size: 16px; font-weight: 600; box-shadow: 0 2px 4px rgba(0, 194, 122, 0.3);\">\n        View Dashboard\n      </a>\n    </td>\n  </tr>\n</table>\n\n<p style=\"margin: 30px 0 0; font-size: 14px; line-height: 1.6; color: #6b7280;\">\n  If the button doesn't work, you can copy and paste this link into your browser:\n</p>\n<p style=\"margin: 10px 0 0; font-size: 12px; line-height: 1.6; color: #00C27A; word-break: break-all;\">\n  {{ $json.body?.frontend_url || $json.frontend_url }}\n</p>\n                <p style=\"margin: 30px 0 0; font-size: 12px; line-height: 1.6; color: #9ca3af;\">\n                  This is an automated message from {{ $json.body?.tenant_name || $json.tenant_name || 'NeibrPay' }}. Please do not reply to this email.\n                </p>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td style=\"padding: 30px 40px; text-align: center; background-color: #f9fafb; border-radius: 0 0 8px 8px; border-top: 1px solid #e5e7eb;\">\n                <p style=\"margin: 0 0 10px; font-size: 14px; color: #6b7280;\">\n                  Best regards,<br />\n                  <strong>{{ $json.body?.tenant_name || $json.tenant_name || 'NeibrPay' }} Management Team</strong>\n                </p>\n                <p style=\"margin: 20px 0 0; font-size: 12px; color: #9ca3af;\">\n                  This is an automated message. Please do not reply to this email.\n                </p>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>",
        "options": {
          "bccEmail": "={{ Array.isArray($json.body?.bcc || $json.bcc) ? ($json.body?.bcc || $json.bcc).join(', ') : ($json.body?.bcc || $json.bcc || '') }}"
        }
      },
      "id": "d8ab1eb0-ae1f-4cde-b538-b55779207336",
      "name": "Send Accouncement Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [448, 848],
      "webhookId": "881a64e8-5021-43c8-bd27-b39d53d52b1b",
      "credentials": {
        "smtp": {
          "id": "RghCNSDKFQ5Oth4i",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Send Invite Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Verification Code Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Send Invoice Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Invite Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Verification Code Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Accouncement Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Accouncement Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "7d1005cf-4d5c-48e5-9bf8-799f344d0fcb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7049e8f52f4a8b5eddcfbc7601c36c0a32779966c03f9b643c8db461d2762391"
  },
  "id": "ezCq61xykab9NF7D",
  "tags": []
}
